/**
 * @name    STabsComponent
 * Create nice and customizable tabs
 *
 * @example   html
 * <ul class="tabs">
 *   <li class="tabs__item">
 *     <a href="#tab1" class="active" is="s-activate" group="tabs">
 *        Tab #1
 *     </a>
 *   </li>
 *   <li class="tabs__item">
 *     <a href="#tab2" is="s-activate" group="tabs">
 *       Tab #2
 *     </a>
 *   </li>
 *   <li class="tabs__item">
 *     <a href="#tab3" is="s-activate" group="tabs">
 *       Tab #3
 *     </a>
 *   </li>
 *   <li class="tabs__item">
 *     <a href="#tab4" is="s-activate" group="tabs">
 *       Tab #4
 *     </a>
 *   </li>
 * </ul>
 * <div class="tabs__content tf vr" id="tab1">
 *   <h3>Hello World #1</h3>
 * </div>
 * <div class="tabs__content tf vr" id="tab2">
 *   <h3>Hello World #2</h3>
 * </div>
 * <div class="tabs__content tf vr" id="tab3">
 *   <h3>Hello World #3</h3>
 * </div>
 * <div class="tabs__content tf vr" id="tab4">
 *   <h3>Hello World #4</h3>
 * </div>
 *
 * @author    Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-tabs-classes(
  $colors: default primary secondary
) {
  @include s-tabs-classes-bare();
  @include s-tabs-classes-style($colors);
}

/**
 * Print out the bare component css
 */
@mixin s-tabs-classes-bare() {
  @include s-component('tabs') {

    .#{s-component()} {
      @include s-tabs-bare();
    }

    .#{s-component()}__item {
      @include s-tabs-item-bare();
    }

    .#{s-component()}__content {
      @include s-tabs-content-bare();
    }
  }
}

/**
 * Print out the style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-tabs-classes-style(
  $colors: default primary secondary
) {
  @include s-component('tabs') {
    @each $color in $colors {
      $sel : ".#{s-component()}--#{$color}";

      @if $color == default {
        $sel : ".#{s-component()}";
      }

      #{$sel} {
        @include s-tabs-style($color);

        .#{s-component()}__item {
          @include s-tabs-item-style($color);
        }

        & ~ .#{s-component()}__content {
          @include s-tabs-content-style($color);
        }
      }
    }
  }
}
